<div *ngIf="project">
    <h2>{{project.name}} details!</h2>
    <div>
      <label>status: </label>{{project.status}}
    </div>
    <div>
      <label>id: </label>{{project._id}}
    </div>
    <md-tab-group>
      <md-tab>
        <template md-tab-label>
          Suites
        </template>
        <template md-tab-content>
          <tcms-suites [project]="project"></tcms-suites>
        </template>
      </md-tab>
      <md-tab>
        <template md-tab-label>
          Runs
        </template>
        <template md-tab-content>
        </template>
      </md-tab>
      <md-tab>
        <template md-tab-label>
          Reports
        </template>
        <template md-tab-content>
        </template>
      </md-tab>
    </md-tab-group>
</div>