// component styles are encapsulated and only applied to their components

.dash-card {
  margin: 5px;
  height: 100px;
  position: relative;
}

button {
  z-index: 1000;
}

img {
  float: left;
  height: 100px;
  width: 100px;
}

h3 {
  margin: 0;
}

p {
  font-size: 12px;
}

a {
  text-decoration: none;
}

a :hover {
  background: #f2efef;
}

.hover :hover {
  background: #f2efef;
}

.dash-content {
  position: relative;
}

#create-proj {
  position: relative;
  float: right;
  margin-top: -50px;
  color: #000;
}

.proj-content {
  position: relative;
  text-align: left;
  width: 945px;
  margin: 0 105px;
}

#proj-image {
  width: 100px;
  height: 100px;
}

.modal-custom {
  padding: 50px;
}

.dot-menu:after {
  content: '\2807';
  font-size: 30px;
  color: #000;
  float: right;
  text-decoration: none;
}