<div class="dash-content">
  <button md-button id="create-proj">+ Create Project</button>
  <a href=#>
    <md-card class="dash-card">
      <img src="smiley.gif" alt="Smiley face">
      <div class="proj-content">
        <h3>Project 1</h3>
        <p>Description for Project 1</p>
      </div>
      <div>
        <span>Suites: 43</span>
        <span>Tests: 128</span>
      </div>
    </md-card>
  </a>
  <a href=#>
    <md-card class="dash-card">
      <img src="smiley.gif" alt="Smiley face">
      <div class="proj-content">
        <h3>Project 2</h3>
        <p>Description for Project 2</p>
      </div>
      <div>
        <span>Suites: 43</span>
        <span>Tests: 128</span>
      </div>
    </md-card>
  </a>
    <a href=#>
    <md-card class="dash-card">
      <img src="smiley.gif" alt="Smiley face">
      <div class="proj-content">
        <h3>Project 3</h3>
        <p>Description for Project 3</p>
      </div>
      <div>
        <span>Suites: 43</span>
        <span>Tests: 128</span>
      </div>
    </md-card>
  </a>
</div>